extends layout

block content
  h1= title
  div(class="container-fluid")
        div(class="row")
            -
                var results = [
                    {
                        "country_name":"India",
                        "country_continent":"Asia",
                        "country_populationranking":"2"
                    },
                    {
                        "country_name":"China",
                        "country_continent":"Asia",
                        "country_populationranking":"1"
                    },
                    {
                        "country_name":"USA",
                        "country_continent":"North America",
                        "country_populationranking":"3"
                    }
                ]
            each i,index in results 
                div(class="col-sm-2" onclick=`buy(${index})`)  #{i.country_name}  
                div(class="col-sm-2" onclick=`buy(${index})`)  #{i.country_continent}
                div(class="col-sm-2" onclick=`buy(${index})`)  #{i.country_populationranking}

        script.
            function buy(p)
            {
                alert(`You have purchased for an item ${p+1}`);
            }